/* Estilizando o fundo e centralizando o conteúdo */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a2e;
}

/* Cartão onde fica o conteúdo */
.card {
  background: #16213e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 350px;
  text-align: center;
  color: white;
}

/* Título */
h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

/* Campo de entrada */
.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #4e4e50;
  background-color: #0f3460;
  color: white;
}

/* Checkbox estilizado */
.checkbox-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.checkbox-group label {
  font-size: 14px;
  cursor: pointer;
}

.checkbox-group input {
  margin-right: 8px;
  transform: scale(1.2);
}

/* Botão estilizado */
.generate-btn {
  background: #e94560;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.generate-btn:hover {
  background: #f05971;
}

/* Caixa onde aparece a senha gerada */
.password-box {
  background: #0f3460;
  margin-top: 15px;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  word-break: break-all;
  font-weight: bold;
  color: #00adb5;
}
